* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/18px Arial, Helvetica, sans-serif;
}




/* CONTENT
-----------------------------------------------------------------------------*/
#collapse1 h3 {
	color: orange;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 10px;
}

#collapse1 h4 {
	color: #696969;
	line-height: 100%;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#collapse1 h4 span {
	color: orange;
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 40px;
}




/* RANDOM PICK
-----------------------------------------------------------------------------*/
#randomPick h4 {
	color: #696969;
	line-height: 100%;
	font-size: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}


#randomPic h4 span {
	color: orange;
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 40px;
}


#randomPick a{
	color: orange;
	padding: 5px;
	background: #696969;
	border-radius: 5px;
}




#randomPick h4 span {
	color: orange;
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 40px;
}




#queryContent {
	background-color: white;
	padding-left: 12%;
	padding-right: 12%;
}
